<table id="nav_table"><tr><td width="150px" valign="top">
    <%= render 'main/personal_navigation' %>
</td><td valign="top">

<% if @user.is_guide %>
    <div id='page'>
    <div class="table-scroll-60">
    <table width="100%">
        <% @routes.sort.each do |r| %>
        <tr><td width="100%">
            <%= render :partial => "main/search_result", :locals => {:res => r, :edit_n_delete => @me, :book => (not @me)} %>
        </td></tr>
        <% end %>

        <tr><td align="center">
        <% if @me %>
            <% if @user.is_guide %>
                <%= button_to "Add new route", :new_route, :method => :get, :id => "button_new_route", :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" %>
            <% else %>
                <%= button_to "Add my first route!", :new_route, :method => :get, :id => "button_new_route", :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" %>
            <% end %>
        <% end %>
        </td></tr>
    </table>
    </div></div>
<% else %>
    <%= @user.first_name || "Dear user" %>,
    become a guide in your city and earn money with Guider!<br>Just add a new route and wait for requests (which will be soon!)<br>
    <%= button_to "Add my first route!", :new_route, :method => :get, :id => "button_new_route", :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" %>
<% end %>

</td></tr>
</table>
