<table id="nav_table"><tr><td width="150px" valign="top">
    <%= render 'main/personal_navigation' %>
</td><td valign="top">

<div id='page'>
    <div id='info-change'>
        <table>
        <%= form_tag({:controller => 'users', :action => 'update_profile'}, {:multipart => true}) do %>
            <tr><td>
                Avatar:
            </td><td>
                <%= image_tag @user.avatar.url(:thumb) %><br>
                <%= file_field_tag :avatar %>
            </td></tr>
            <tr><td>
                First name:
            </td><td>
                <%= text_field_tag 'first_name', @user.first_name, :placeholder => 'First name' %>
            </td></tr>
            <tr><td>
                Last name:
            </td><td>
                <%= text_field_tag 'last_name', @user.last_name, :placeholder => 'Last name' %>
            </td></tr>
            <tr><td>
                E-mail:
            </td><td>
                <%= text_field_tag 'email', @user.email %>
            </td></tr>
            <tr><td>
                Password:
            </td><td>
                <%= password_field_tag 'password' %>
            </td></tr>
            <tr><td>
                Languages:
            </td><td>
                <%= collection_select :lang_tag, 'tags', Language.all, :value, :value,  {selected: @user.lang_array}, {multiple: true, class: "chosen-select"} %>
            </td></tr>
            <tr><td>
                About:
            </td><td>
                <%= text_area_tag 'about', @user.about, :placeholder => "Write something about yourself...", :size => '47x5' %>
            </td></tr>
            <tr><td>
                <%= submit_tag "Save" %>
            </td></tr>
        <% end %>
        </table>
    </div>
</div>

</td></tr>
</table>
