<script type="text/javascript">
$(document).keydown(function(e) {
    if (e.keyCode == 37) {
        document.getElementById('Back').click()
    }
    if (e.keyCode == 39) {
        document.getElementById('Next').click()
    }
    if (e.keyCode == 69) {
        document.getElementById('Edit').click()
    }
});
</script>

<center>
<div class="footer">
    <% if not @first_page %>
        <%= link_to 'Back', show_page_path(@book.id, @page.number - 1), id: "Back" %>
    <% end %>
    | <%= @page.number %> |
    <% if not @last_page %>
        <%= link_to 'Next', show_page_path(@book.id, @page.number + 1), id: "Next" %>
    <% end %>
    <br>
    <%= link_to 'Edit', edit_page_get_path(@book.id, @page.number), id: "Edit" %>
    <br>
    <%= link_to 'Home', books_path %>
</div>
</center>
