<!DOCTYPE html>
<html>
<head>
  <title>Guider</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<%= javascript_tag do %>
    var ready_main = function() {
        $(".datepicker").datepicker({
            showButtonPanel: false,
            minDate: 0
        });
        $('#with-dates').multiDatesPicker({
            altField: '#route_date_array',
            minDate: 0,
            maxDate: 120
        });
        $('#with-pre-selected-dates').multiDatesPicker({
            altField: '#date_array',
            minDate: 0,
            maxDate: 120,
            <% if @dates and @dates.any? %>
                addDates: [
                <% t = @dates.each do |date| %>
                    '<%=j date %>',
                <% end %>
                ]
            <% end %>
        });
        $("#city_id").combobox();
    };

    $(document).ready(ready_main);
    $(document).on('page:load', ready_main);
<% end %>

<body>

<% if @main_page %>
<main id="main_page">
<% else %>
<main>
<% end %>

<div id="nav" class="header">
    <table width="100%"><tr>
        <td width="40%" valign="top">
            <h1 class="logo">
            <%= link_to "GUIDER", root_path %>
            </h1>
        </td>
        <td width="20%" valign="top">
            <center>
                <% if current_user and not current_user.is_guide %>
                    <%= button_to "Become a guide", routes_path(current_user.id), :method => :get, :id => "become_a_guide", :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" %>
                <% elsif not current_user %>
                    <%= button_to "Become a guide", '', :remote => true, :method => :get, :id => "become_a_guide", :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :onclick => "$.scrollTo(document.getElementById('become_a_guide_promo'), 800)" %>
                <% end %>
            </center>
        </td>
        <td align="right" valign="top">
            <% if current_user %>
                <div class="nav_link">
                <% if current_user.first_name and current_user.last_name and current_user.first_name != "" and current_user.last_name != "" %>
                    <%= link_to current_user.first_name + " " + current_user.last_name, profile_path(:user_id => current_user.id), :class => "nav_link" %>
                <% else %>
                    <%= link_to "Me", profile_path(:user_id => current_user.id), :class => "nav_link" %>
                <% end %>
                <%= link_to "Logout", :logout, :class => "nav_link" %>
                </div>
            <% else %>
                <%= render 'main/login' %>
                <%= button_to 'Sign in', '', :remote => true, :onclick => "show_login()", id: "login_link", :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" %>
            <% end %>
        </td>
    </tr></table>
</div>

<%= yield %>

</main>

<% if not current_user %>
    <%= render 'main/promo' %>
<% end %>

</body>
</html>
