<div id="login_background" align="center">
    <div style="height: 20vh; display: block;"></div>
    <div id="loginform" align="left">
        <br>
        <div style="margin: 10px; height: 7vh;">
            <%= button_to 'Connect with Facebook', auth_at_provider_path(:provider => :facebook), :method => :get, :id => "fb_button", :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" %>
        </div>
        <br>
        <%= form_tag({:controller => 'user_sessions', :action => 'create'}, :id => "login_form") do |f| %>
            <div style="height: 32vh;" valign="center">
                <%= label_tag '', 'Email:' %><br>
                <%= text_field_tag 'email', '', :id => "login_email", :class => "login_field" %><br>
                <%= label_tag '', '', :id => "email_errors" %><br>
                <%= label_tag '', 'Password:' %><br>
                <%= password_field_tag 'password', '', :id => "login_password", :class => "login_field" %><br>
                <%= label_tag '', '', :id => "password_errors" %><br>
                <%= label_tag '', 'Keep me logged in', :id => "keep_me_label" %>
                <%= check_box_tag :remember_me, 1, params[:remember_me], :checked => true %><br>
            </div>
            <div valign="top">
                <%= submit_tag 'Login', :id => "login_button", :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" %>
                <%= label_tag '', 'or' %>
                <%= link_to 'register me', '', :onclick => "show_registration()", :remote => true, :id => "reg_link" %>
            </div>
        <% end %>

        <%= form_for @user, :html => {:id => "register_form"} do |f| %>
            <div style="height: 32vh;" valign="center">
                <%= label_tag '', 'Email:' %><br>
                <%= f.text_field 'email', :id => "login_email_reg", :class => "login_field" %><br>
                <%= label_tag '', '', :id => "email_errors" %><br>
                <%= label_tag '', 'Password:' %><br>
                <%= f.password_field 'password', :id => "login_password_reg", :class => "login_field" %><br>
                <%= label_tag '', '', :id => "password_errors" %><br>
                <%= label_tag '', 'Confirm password:' %><br>
                <%= f.password_field 'confirm_password', :id => "login_password_confirm_reg", :class => "login_field" %><br>
                <%= label_tag '', '', :id => "password_confirm_errors" %><br>
            </div>
            <div valign="top">
                <%= f.submit 'Register', :id => "register_button", :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" %>
                <%= f.label '', 'or' %>
                <%= link_to 'login', '', :onclick => "show_login()", :remote => true, :id => "reg_link" %>
            </div>
        <% end %>
    </div>
</div>


<%= javascript_tag do %>
    $(document).mouseup(function(e) {
        var container = $("#loginform");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            hide_login();
        }
    });

    function show_login() {
        $("#login_background").css({"visibility" : "visible", "display" : "block"});
        $("#loginform").fadeIn();
        $("#loginform").css({"visibility":"visible", "display":"block"});
        $("#login_link").css({"visibility" : "hidden"});
        $("#login_form").css({"visibility" : "visible", "display" : "block"});
        $("#register_form").css({"visibility" : "hidden", "display" : "none"});
        $("#login_email").val($("#login_email_reg").val());
        $("#login_password").val($("#login_password_reg").val());
    }

    function hide_login() {
        $("#loginform").fadeOut();
        $("#loginform").css({"visibility":"hidden", "display":"none"});
        $("#login_background").css({"visibility" : "hidden", "display" : "none"});
        $("#login_link").css({"visibility" : "visible"});
    }

    function show_registration() {
        $("#login_background").css({"visibility" : "visible", "display" : "block"});
        $("#login_form").css({"visibility" : "hidden", "display" : "none"});
        $("#register_form").css({"visibility" : "visible", "display" : "block"});
        $("#login_email_reg").val($("#login_email").val());
        $("#login_password_reg").val($("#login_password").val());
    }
<% end %>
