<div class="personal_navigation">
<ul style="margin-left: -20px; width: 120px;">

<li>
<div style="margin-left: 20px;">
<% if @personal_tab == "profile" %>
    <b><%= link_to "Profile", profile_path(params[:user_id]) %><br></b>
<% else %>
    <%= link_to "Profile", profile_path(params[:user_id]) %><br>
<% end %>
</div>
</li>

<li>
<div style="margin-left: 20px;">
<% if @personal_tab == "routes" %>
    <b><%= link_to "Routes", routes_path(params[:user_id]) %><br></b>
<% else %>
    <%= link_to "Routes", routes_path(params[:user_id]) %><br>
<% end %>
</div>
</li>

<li>
<div style="margin-left: 20px;">
<% if @personal_tab == "replies" %>
    <b><%= link_to "Replies", reply_path(params[:user_id]) %><br></b>
<% else %>
    <%= link_to "Replies", reply_path(params[:user_id]) %><br>
<% end %>
</div>
</li>

<br>
<li>
<% if @personal_tab == "bookings" %>
    <b><%= link_to "My Bookings", personal_booking_path(current_user.id) %><br></b>
<% else %>
    <%= link_to "My Bookings", personal_booking_path(current_user.id) %><br>
<% end %>
</li>

<li>
<% if @personal_tab == "requests" %>
    <b><%= link_to "My Requests", personal_requests_path(current_user.id) %><br></b>
<% else %>
    <%= link_to "My Requests", personal_requests_path(current_user.id) %><br>
<% end %>
</li>

</ul>
</div>
